@model IEnumerable<TechLife.Models.Supplier>

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SupplierId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SupplierId }) |
                    @Html.ActionLink("Add Item", "Create", "SupplierItems", new { supplierId = item.SupplierId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New Supplier", "Create")
</p>
