@{
    Layout = "_AdminLayout";
}

@model List<SimServicesToDo>

<div class="container">
    <div class="d-flex justify-content-between align-items-center">+
        <h1 class="my-5">Sim Services Cart</h1>
        <a asp-area="Customer" asp-controller="SimService" asp-action="Index" class="btn btn-success btn-sm">
            Add New Service
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Service Name</th>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Sim Type</th>
                <th>Price</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.SimServicesToDoName</td>
                    <td>@obj.CustName</td>
                    <td>@obj.PhoneNumber</td>
                    <td>@obj.SimType</td>
                    <td>$@obj.Price</td>
                    <td>
                        <a asp-area="Admin" asp-controller="SimServicesToDo" asp-action="Delete" asp-route-id="@obj.SimServicesToDoId" class="btn btn-success float-md-end mx-2">
                            <i class="bi bi-check2-all"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
