@model IEnumerable<TechLife.Models.Supplier>
@{
    Layout = "_AdminLayout";
}
@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SupplierId }) |
                    @Html.ActionLink("Details", "Details", "Suppliers", new { id = item.SupplierId }) |
                    <a href="#" class="delete-link" data-supplier-id="@item.SupplierId" data-supplier-name="@item.Name">Delete</a> |
                    @Html.ActionLink("Add Item", "Create", "SupplierItems", new { supplierId = item.SupplierId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New Supplier", "Create")
</p>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the supplier <strong id="supplierName"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="">
                    <input type="hidden" name="id" id="supplierId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-link').click(function (event) {
                event.preventDefault();
                var supplierId = $(this).data('supplier-id');
                var supplierName = $(this).data('supplier-name');
                $('#supplierId').val(supplierId);
                $('#supplierName').text(supplierName);
                $('#deleteForm').attr('action', '/Admin/Suppliers/Delete/' + supplierId);
                $('#deleteModal').modal('show');
            });
        });
    </script>
}
